
    {% load static %}
    <!doctype html>
    <html>
    <head>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        <title>home page</title>
        <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    </head>
    <body>
        <div class="home-page">
            <img src="{% static 'core/logo.jpg' %}" alt="logo" class="logo">
            <h1>Welcome to our home... your home :)</h1>
            <form action="store/">
                <label>visit:</label>
                
                <button type="submit">Visit</button>
            </form>
        </div>
        
        
    </body>
    </html>
